<form action="/maintenance_records" method="POST">
    <!-- <input type= "text" name="name" placeholder="name"> -->
    <input type="text" name="mrecords[name]" placeholder="Name"><br><br> 
    <input type="date" name="mrecords[date]"><br><br>
    <input type="text" name="mrecords[cost]" placeholder="Cost"><br><br>
    <textarea type="text" name="mrecords[notes]" placeholder="Notes/Description"></textarea><br><br>
   
    
    <select name="mrecords[bike_id]"> <% current_user.bikes.all.each do |b| %>
        <option value="<%= b.id%>">  <%=b.name %>
        </option>
          <% end %>
     </select>
    <!-- select menu w/ options -->
    <input type="submit" value="Create Record">
</form>