<form action="/bikes" method="POST">
    <h2> Enter information below: </h2>
    <input type="text" name="bikes[name]" placeholder="Name"><br><br> 
    <input type="text" name="bikes[description]" placeholder="Description"><br><br>
    <input type="text" name="bikes[serial_number]" placeholder="Serial Number"><br><br>
    
    
    
    <input type="submit" value="Create Bike">
</form>